*{
    padding: 0%;
    margin: 0%;
}
#sec1 .c1 h4{
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    padding: 0%;
    margin:0%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
label #btn{
    color: black;
    display: none;}

label #cancel{
    color: red;
    display: none;
    
}
#check{
    display: none;
}


#nav{
    width: 100%;
    color: black;
   /* position: fixed; */
    height: 50px;
    background-color: white;
    display: flex;
      /* padding: 10px;  */
      
}
#nav nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    padding-left: 2%;
    align-items: center;
}
#nav nav ul a{
    text-decoration: none;
    color: black;
   
}
#nav .t{
   padding-left: 20%;
}



#nav nav ul li{
    list-style: none;
    display: flex;
    gap: 20px;
}
#nav .sreach{
    border-radius: 15%;
    height: 15px;
    width: 95px;
}
#sec3{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
}

#sec3 .c5{
margin-top:-100px;
left: 15%;
height: 10%;
justify-content: center;
background-color: white;
position: relative;
width: 70%;
display:flex ;
text-align: center;
flex-direction: column;

}

#sec3 .c6{
    position: relative;
    margin-top:-50px;
    padding-left: 65%;
    font-size:30px;
    left: 5%;
   
}

#sec3 .c7{
    width: max-content;
    margin-top:-100px;
    left: 15%;
    height: 10%;
 justify-content: center;
 background-color: white;
 position: relative;
 width: 70%;
 display:flex ;
 text-align: center;
 flex-direction: column;
}

#sec4 h1{
    padding-left: 4%;
    font-size: 40px;
    font-weight: 300;
}
#sec5{
    width: 95%;
   padding-left: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#sec5 .w1{
    width: 100%;
}

#sec5 .w2{
    width: 100%;
}

#sec5 .w3{
    width: 100%;
}

#sec5 .w4{
    width: 100%;
}

#sec5 .w5{
    width: 100%;
}

#sec5 .w6{
    width: 100%;
}
/* 
#sec5 .w7{
    width: 100%;
} */
#sec5 .o{
   font-size: 30px;
   padding-top: 80%;
    text-align: center;
    width: 300px;
    height: 300px;

}
 .scroll{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.scroll::-webkit-scrollbar{
    display: none;
}
#sec5  p{
    color: black;
    font-size: 20px;
    width: 80%;
}
#sec5  img{
    height: 500px;
    width: 500px;
    padding-top: 5%;
    padding-bottom: 5%;
}
#sec5 .btn1{
    display: flex;
    flex-direction: row;
}
#sec5 .btn1 .b1{
height: 50px;
width: 220px;
background-color: black;
color: white;
}

#sec5 .btn1 .b2{
    height: 50px;
    width: 220px;
    color: black;
    }    

#sec6{
    width: 100%;
    padding-left: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#sec6 .bs1{
    width: 100%;
}

#sec6 .bs2{
    width: 100%;
}

#sec6 .bs3{
    width: 100%;
}

#sec6 .bs4{
    width: 100%;
}

#sec6 .bs5{
    width: 100%;
}

#sec6 .bs6{
    width: 100%;
}
#sec6  p{
    color: black;
    font-size: 20px;
    width: 80%;
}
#sec6 div img{
    height: 500px;
    width: 500px;
    padding-top: 5%;
    padding-bottom: 5%;
   
}

#sec6 .btn1{
    display: flex;
    flex-direction: row;
}
#sec6 .btn1 .b1{
height: 50px;
width: 220px;
background-color: black;
color: white;
}

#sec6 .btn1 .b2{
    height: 50px;
    width: 220px;
    color: black;
    }  
#sec7{
    width: 100%;
    padding-left: 14%;
    padding-top: 10%;
}
#sec7 p{
    color: rgb(49, 48, 48);
    font-size: 25px;
   
}
#sec7 .c13{
   
    font-size: 45px;
}
#sec8 .c15{
    margin-top:-900px;
    height: 500px;
   left: 60%;
 justify-content: center;
 background-color: white;
 position: relative;
 width: 30%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
#sec8 .btn3{
background-color: black;
height: 30px;
color: white;
width:150px;
}

#sec9{
    margin-top:500px;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 15%;
    width: 60%;
    font-size: 70px;
}

#sec10{
    padding-top: 5%;
}
#sec10 .c16{
    padding-left: 4%;
    font-size: 30px;
    font-weight: 300;
}

#sec10 .c17{
    padding-left: 4%;
    font-size: 20px;
}

#sec11{
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-bottom: 4%;
    flex-wrap: wrap;
}
#sec11 div img{
    height: 500px;
    padding-left: 5%;
    padding-right: 2%;
   
}
#sec11 p{
    padding-left: 5%;
    padding-right: 2%;
}
#sec12{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    color: white;
    flex-direction: column;
}
#sec12 img{
    padding-left: 5%;
}

#sec12 p{
    padding-left: 15%;
    padding-top: 1%;
}
#sec12 b{
    font-size: 35px;
}
#sec13 .btn4{
   margin-top: -55px;
    left: 85%;
    height: 30px;
 justify-content: center;
 background-color: black;
 color: white;
border-color: white;
 position: relative;
 width: 8%;
 display:flex ;
 text-align: center;
 flex-direction: column;
}
/* 
#sec14{
   color: aliceblue; 
    background-color: black;
    padding-left: 5%;
}
#sec14 .c16{
    font-size: 45px;
}
#sec14 p{
    font-size: 20px;
}

#sec14 img{
    height: 200px;
    width: 300px;
  padding-right: 5%;
}
#sec14 .c17{
    font-size: 25px;
    width: 35%;
}
#sec14 .c19{
    background-color: rgb(18, 16, 16);
    color: white;
    width: 250px;
    height: 30px;
}
#sec14 .c20{
   display: flex;
   justify-content:start;
   text-align: center;
   flex-direction: column;
}
#sec14 .m{
    display: flex;
    flex-direction: ;
} */

#sec15{
    display: flex;
    flex-direction: column;
}

#sec15  .c21{
    border: 1px solid black;
    width: 100%;
    /* padding-left: 5%; */
    font-size: 45px;
    background-color: black;
    color: white;
}

#sec15 .c22{
    font-size: 20px;
    color: white;
}

#sec15 img{
    height: 200px;
    width: 300px;
    display: flex;
    gap: 1%;
}

#sec16{
    padding-top: 2%;
    padding-left: 5%;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 15%;
}
#sec16 p{
    color:white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
#sec16 .c23{
    border: 1px solid black;
    width: 20%;
    height: 20px;
    background-color: rgb(16, 16, 15);
    padding-left: 4%;
    padding-bottom: 1%;
  padding-top: 1%;
color: white;
font-size: 25px;
}
#sec16 .c24{
    padding-top: 2%;
    width: 59%;
}

#sec16 .c25{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
   gap: 5%;
}
@media(max-width:450px){
    #nav{
        background-color: white;
        position: absolute;
        width: 99%;
        padding: 0px;
        margin: 0px;
        }
#nav .t{
    display: none;
}
    #nav nav ul{
        position: absolute;
        list-style: none;
        /* gap: 1%; */
        display: flex;
        gap: 2%;
        margin-right: 0px;
        color:rgb(2, 2, 50);
        background-color: white;
  
    }
    
label #btn{
    display: block;
}
 ul{
    position: absolute;
    font-size: 17px;
    height: 50px;
    text-align: center;
    margin-right: 0px; 
    line-height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    left:-150%;
    font-size: 25px;
    
}
#nav nav ul a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(2, 2, 50);}
nav ul li{
    display: block;
  
}
*a:hover{
    color: orangered;
}
#check:checked ~  ul{
            left:0; }
 #check:checked ~  label #btn{
            display: block;
        }
        #check :checked ~  label #cancel{
            display:block;
        }
    #sec3{
       gap: 100px;
    }
    #sec3 img{
        padding-left: 0%;
        width: 100%;
        height: 500px;
    }
    #sec3 .c6{
        margin-top:-40px;
    }
    
#sec5{
    padding-left: 0%;}
#sec5  p{
    font-size: 18px;
}

#sec5  img{
    height: 200px;
    width: 200px;
    padding-top: 5%;
    padding-bottom: 5%;
}
#sec6 div img{
    height: 200px;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}
#sec7 {
    padding-left: 0%;
}
#sec8 .c15{
    display: none;
}
#sec9{
    margin-top: 0%;
    padding-left: 4%;
    padding-right: 0%;
}
#sec10 .c16{
    padding-left: 0%;
}

#sec10 .c17{
    padding-left: 0%;
}
#sec11{
    width: 90%;
}
#sec11 div img{
    height: 500px;
    width: 90%;
    padding-left: 0%;
    padding-right: 0%;
}
#sec11 p{
    padding-left: 0%;
    padding-right: 0%;
}
#sec12{
    width: 100%;
}
#sec12 img{
    display: none;
}
#sec12 p{
    padding-left: 1%;
    padding-top: 1%;
}
#sec13 .btn4{
    display: none;
}
#sec16{
    display:flex;
    flex-direction: column;

}
#sec16 p{
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

#sec16 .c23{
    border: 1px solid black;
    width: 50%;
}
#sec16 .c24{
    padding-top: 2%;
    width: 89%;
}

#sec16 .c25{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
   gap: 5%;

}
}